<footer>
    <div class="footer-section">
        <div class="info"> <strong>stgoruteo</strong>, promoviendo el ciclismo de ruta en la región metropolitana</div>
        <div class="rrss">
            <img src="../../assets/img/icons8-facebook-50.png" alt="facebook">
            <img src="../../assets/img/icons8-gmail-logo-50.png" alt="gmail">
            <img src="../../assets/img/icons8-instagram-50.png" alt="instagram">
            <img src="../../assets/img/icons8-twitter-50.png" alt="twitter">
            <img src="../../assets/img/icons8-youtube-50.png" alt="youtube">
            <img src="../../assets/img/icons8-github-50.png" alt="github">
        </div>
        <div class="registered">2023 - stgoruteo ®</div>
        
    </div>

</footer>