@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500&family=Prompt:wght@300&family=Roboto:wght@300&family=Shadows+Into+Light&family=Unbounded:wght@200;300;400&display=swap');

footer {
    background-color: #919DA5;
    color: white;
    font-family: 'Unbounded', cursive;

    .footer-section {
        padding: 2rem 3rem;
        text-align: center;

    }

    .rrss {
        margin: auto;
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
        justify-content: center;

        img {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }


    }
}
