<article id="comofunciona">
    <div class="container">
        <h2 class="comofunciona-title">cómo funciona?</h2>
        <hr class="hr hr-blurry" />
        <p class="comofunciona-paragraph">Después de este párrafo encontraras un selector, elige la zona donde quieres rutear y se desplegará las rutas que se encuentran en nuestra base de datos en dicha zona.</p>
        <br>
        <p class="comofunciona-paragraph">Luego de que aparezca la lista, podrás acceder a más información clickeando el botón 'más info', donde se abrirá un popup con dicha info.</p>
    </div>
    
</article>
