<article id="comofunciona">
    <div class="container">
        <h2 class="comofunciona-title">cómo funciona?</h2>
        <hr class="hr hr-blurry" />
        <p class="comofunciona-paragraph">selecciona una de las zonas de la región metropolitana, esto desplegara una lista de rutas</p>
        <br>
        <p class="comofunciona-paragraph">luego de que aparezca la lista, podrás acceder a más información clickeando el botón  <strong> 'más info'</strong>, donde se abrirá un popup con dicha info.</p>
    </div>
    
</article>
