<article id="mision">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
            <h2 class="mision-title">Nuestra misión</h2>
            <hr class="hr hr-blurry" />
            <p class="mision-paragraph">
              En <i>stgoruteo</i> , nos dedicamos a brindar una experiencia inigualable a los ciclistas, ayudándoles a superar las dudas comunes sobre sus aventuras en bicicleta. 
              <br><br> Fomentamos la exploración y descubrimiento de nuevas rutas de ciclismo de ruta en la región metropolitana, y proveer información detallada y actualizada sobre estas rutas y las clásicas para ciclistas de todos los niveles.
            </p>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
            <img
            class="first-pic"
            src="../../assets/img/output (2).jpg"
            alt="cycling"
          />
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="sponsors"></div>
  
    </div>
</article>
