@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Playfair+Display:wght@400;700&family=Prompt:wght@100;200;300&family=Roboto:wght@300&family=Shadows+Into+Light&family=Unbounded:wght@200;300;400&display=swap');
$mainfont: "Unbounded", cursive;
$titlefont: 'Playfair Display', serif;

article {

    .card { 
        padding: 2rem;
        box-shadow: 0px !important;
        -webkit-animation: slide-in-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


        @-webkit-keyframes slide-in-top {
            0% {
              -webkit-transform: translateY(-1000px);
                      transform: translateY(-1000px);
              opacity: 0;
            }
            100% {
              -webkit-transform: translateY(0);
                      transform: translateY(0);
              opacity: 1;
            }
          }
          @keyframes slide-in-top {
            0% {
              -webkit-transform: translateY(-1000px);
                      transform: translateY(-1000px);
              opacity: 0;
            }
            100% {
              -webkit-transform: translateY(0);
                      transform: translateY(0);
              opacity: 1;
            }
          }
          

        img {
            width: 100%;
            border-radius: 2px;
        }
    }


    .card-title {
        font-family: $mainfont;
        letter-spacing: 0.22rem;
        margin-top: 0;
        
    }

    .card-text {
        font-family: $mainfont;
        margin-bottom: 3.5rem;
        margin-top: 4rem;
    }

    .route-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem 0rem;
    }

    p {
      font-weight: 300;
    }

    select {
      padding: 1em 4em 1em 1.5em;
      font-family: $mainfont;
      border: 1px solid;
      background-color: transparent;

      option {
        margin-top: 5rem;
      }
    }

    .route-select {
      position: relative;
    }

    .custom-arrow {
      position: absolute;
      top: 0;
      right: 0;
      background: #B1BDC5;
      display: block;
      height: 100%;
      width: 4rem;
      pointer-events: none;
    }

    .custom-arrow::before,
    .custom-arrow:after {
      --size: 1em;
      content: '';
      position:absolute;
      width: 0;
      height: 0;

      left: 50%;
      transform: translate();

    }

    .custom-arrow::before {
      border-left: var(--size) solid transparent ;
      border-right: var(--size) solid transparent ;
      border-bottom: var(--size) solid #628281;
    }

    .custom-arrow::after {
      border-left: var(--size) solid transparent ;
      border-right: var(--size) solid transparent ;
      border-top: var(--size) solid #628281;
    }


    .modal {
      position: fixed !important;
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      background-color: rgba(0, 0, 0, 0.5) !important;
      z-index: 10 !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      -webkit-animation: modal 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: modal 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @-webkit-keyframes modal {
      0% {
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
        opacity: 1;
      }
      100% {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
        opacity: 1;
      }
    }
    @keyframes modal {
      0% {
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
        opacity: 1;
      }
      100% {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
        opacity: 1;
      }
    }

    
    
    .modal-content {
      background-color: white !important;
      padding: 2rem !important;
      border-radius: 10px !important;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) !important;
      width: 80% !important;
      max-width: 50rem !important;
    }

    .close-button {
      cursor: pointer;
      width: 5%;
      border: 0px;
      background-color: white;
      margin: auto;
    }

    .segment-info {
      font-family: $mainfont;
    }
    

    .button-52 {
      font-size: 16px;
      font-family: $mainfont;
      font-weight: 400;
      letter-spacing: 1px;
      padding: 13px 20px 13px;
      outline: 0;
      border: 1px solid black;
      cursor: pointer;
      position: relative;
      background-color: rgba(0, 0, 0, 0);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      margin-top: 1rem;
    }
    
    .button-52:after {
      content: "";
      background-color:#B9B9B9;
      width: 100%;
      z-index: -1;
      position: absolute;
      height: 100%;
      top: 7px;
      left: 7px;
      transition: 0.5s;
    }
    
    .button-52:hover:after {
      top: 0px;
      left: 0px;
    }

    .modal-title {
      font-family: $mainfont;
      letter-spacing: 0rem;

    }

    #route-card {
      width: 75%;
      height: 75%;
      margin: auto;
    }


    
    
    @media (min-width: 768px) {
      .button-52 {
        padding: 13px 50px 13px;
      }
    }

    
    
}

@media (max-width: 1024px) {

  .card {
    padding: 0.2rem !important;
  }

  .card-title {
    font-family: $mainfont;
    letter-spacing: 0.2rem;
    margin-top: 2rem;
    
}

.card-text {
    font-family: $mainfont;
    margin-bottom: 3.5rem;
    margin-top: 2rem;
}





}