<article>
  <div class="container">
    <div class="route-container">
    <select class="route-selector" #zonaSelector (change)="selectZona(zonaSelector.value)">
      <option value="">Selecciona una zona de Santiago</option>
      <option value="norte">Zona Norte</option>
      <option value="oriente">Zona Oriente</option>
      <option value="poniente">Zona Poniente</option>
      <option value="sur">Zona Sur</option>
    </select>
    

    
  </div>
  <div *ngIf="selectedZona">
    <div *ngFor="let route of routes">
      <div class="shadow-none card mb-3" *ngIf="route.zona === selectedZona" id="route-card">
        <div class="row no-gutters">
          <div class="col-md-8">
            <img class="card-img" [src]="route.imageUrl" />
          </div>
          <div class="col-md-4">
          <h1 class="card-title">{{ route.name }}</h1>
         

          <button class="button-52" role="button" (click)="openModal(route)">más info</button>

        </div>
      </div>
    </div>
  </div>
  </div>
  
  <div *ngIf="showModal" class="modal">
    <div class="modal-content">
      <h2 class="modal-title">información segmento</h2>
      <hr class="hr hr-blurry" />
      <p class="segment-info"><strong>Distancia: </strong>  {{distanceInKilometers}} km</p>
      <p class="segment-info"><strong>Elevación máxima: </strong>  {{segmentData.elevation_high}} m</p>
      <p class="segment-info"><strong>Elevación ganada: </strong>  {{segmentData.total_elevation_gain}} m</p>

      <p class="segment-info"><strong>Pendiente promedio:</strong>  {{ segmentData.average_grade }} %</p>
      <p class="segment-info"><strong>Pendiente máxima: </strong>  {{segmentData.maximum_grade}} %</p>
      <p class="segment-info"><strong>Mayor intentos:</strong>  {{ segmentData.local_legend.title }}</p>
      <p class="segment-info"><strong>Cantidad de intentos:</strong>  {{ segmentData.local_legend.effort_count }} intentos en los últimos 90 días.</p>
      <p class="segment-info"><strong>Tiempo KOM:</strong>  {{ segmentData.xoms.overall}} minutos</p>
      <p class="segment-info"> <small>*info extraída de strava, datos pueden ser no tan certeros.</small> </p>

      <h2 class="modal-title">información metereológica</h2>
      <hr class="hr hr-blurry" />
      <p class="segment-info"><strong>Temperatura: </strong>  {{weatherData.main.temp}} °C</p> 
      <p class="segment-info"><strong>Viento: </strong>  {{weatherData.main.temp}} °C</p> 

      <button class="close-button" (click)="showModal = false">cerrar</button>
    </div>
  </div>
</div>
  


</article>
