<article>
  <div class="container">
    <div class="route-container">
    <select class="route-selector" #zonaSelector (change)="selectZona(zonaSelector.value)">
      <option value="">Selecciona una zona de Santiago</option>
      <option value="norte">Zona Norte</option>
      <option value="oriente">Zona Oriente</option>
      <option value="poniente">Zona Poniente</option>
      <option value="sur">Zona Sur</option>
    </select>
    

    
  </div>
    <div *ngIf="selectedZona">
      <div *ngFor="let route of routes">
        <div class="card mb-3" *ngIf="route.zona === selectedZona">
          <div class="row no-gutters">
            <div class="col-md-8">
              <img class="card-img" [src]="route.imageUrl" />
            </div>
            <div class="col-md-4">
            <h1 class="card-title">{{ route.name }}</h1>
            <p class="card-text">Distancia: {{ route.distance }}km</p>
            <p class="card-text">Pendiente promedio: {{ route.pendientePromedio }}%</p>
            <p class="card-text">Elevación ganada: {{ route.elevationGain }}m</p>
            <p class="card-text">Máxima elevación: {{ route.maxElevation }}m</p>
            
            
          </div>

          
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
